@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --primary-font: 'Comfortaa', sans-serif;
    --primary-color : #f9af76;
    --white-color: #fff;
    --body-color: #000;
    --navbar-active-color: #f9af76;
    --navbar-brand-color: #f9af76;
    --navbar-brand-hover-color: #f9af76;
    --secondary-color: #424669;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-body-font-family: var(--primary-font);
    --bs-nav-link-font-size: 20px;
    --button-padding: 10px 20px;
    --normal-margin-bottom: 30px;
    --h1-font-size: 52px;
    --border-radius-btn: 40px;

}
.avatar-sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: .25rem;
}
.avatar-lg {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.25rem
}

.avatar-sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: .25rem
}

.avatar-xs {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 0.675rem;
  border-radius: .25rem
}
nav#navbarVertical {
  display: block;
  width: 100%;
  max-width: 270px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0;
  transition: all .2s ease-in-out;
}
nav#navbarVertical .container-fluid {
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.h-screen.flex-grow-1.overflow-y-lg-auto {
  overflow-y: auto !important;
}
.h-screen {
  height: 100vh !important;
}

  .navbar-vertical.navbar-expand-lg .navbar-collapse {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      opacity: 1;
  }
  .navbar-vertical.navbar-expand-lg .navbar-nav {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
}

.bg-surface-secondary {
  background-color: #f5f9fc !important;
}
h3.brand-name {
  font-weight: 800;
}
a.nav-link {
  padding: .75rem 1.5rem;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
a.nav-link i {
  margin-right: 20px;
}
a.nav-link:hover {
  background: var(--bs-navbar-color);
  color: white;
}
.card.shadow.border-0 {
  margin: 10px 0;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


a {
    text-decoration: none;
}
/* body {
    background-color: var(--body-color);
} */
section.top-banner-section, .extra-decoration-image-left-side,.feature-content-home,.feature-section, .social_media_hp, section.footer-area-hp {
    position: relative;
}
.margin-bottom-section{
    margin-bottom: 120px;
}

/* min-width:992 */
@media (min-width: 992px){
  nav.navbar.navbar-expand-lg.navbar-digital-card div#navbarColor02 {
    display: flex;
    justify-content: flex-end;
}
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.7rem;
      padding-left: 1.7rem;
  }
}

div#navbarColor02 a.btn.btn-secondary.my-2.my-sm-0.btn-hp-style {
  margin: 0 10px;
}

a#navbarDropdown {
  color: var(--navbar-active-color);
}
a#navbarDropdown:hover {
  background: transparent;
  border: 1px solid;
  border-radius: 30px;
}
.dropdown-menu.dropdown-menu-end.show {
  background: transparent;
  border: 1px solid var(--navbar-active-color);
}
a.dropdown-item {
  background: transparent;
}
/* logo / navbar */
img.logo-image {
    width: 80px;
}
.btn-hp-style {
    border-radius: var(--border-radius-btn);
    background: transparent;
    border: 1px solid var(--primary-color);
    font-size: var(--bs-nav-link-font-size);
    padding: var(--button-padding);
}
.btn-hp-style:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}
a.nav-link.active {
    color: var(--navbar-active-color) !important;
}
.sub-heading-home{
    color: var(--bs-navbar-color);
}
.navbar-digital-card {
    margin-bottom: 60px;
}
/* mainpage */
.image-section-top-home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-heading-home, .sub-heading-home, .margin-bottom-hp {
    margin-bottom: var(--normal-margin-bottom);
}
.body-font-color{
    color: var(--bs-navbar-color);
}
.right-side-content-part {
    position: relative;
}
img.decorate-one-image2 {
    position: absolute;
    right: 28%;
    top: -15%;
}
img.decorate-one-image {
    position: absolute;
    right: 18%;
    top: -8%;
}
.image-round-section img {
    max-width: 100%;
}
button.btn.btn-secondary.my-2.my-sm-0.btn-hp-style {
    margin-left: 60px;
}
.image-section-top-home img {
    width: 80%;
}
h1.top-heading-home.text-white {
    font-size: var(--h1-font-size);
}
.btn-big {
    border: 1px solid var(--primary-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius-btn);
    background-color: var(--primary-color);
    color: var(--white-color);
}
.explore_button {
    margin-top: 30px;
}
img.extra-decoration-image-left-side-one {
    position: absolute;
    right: 29%;
    bottom: -70px;
    z-index: -1;
    width: 100%;
    transform: rotate(20deg);
}
img.extra-decoration-image-left-side-two {
    position: absolute;
    bottom: 57px;
    left: 38%;
    z-index: -1;
    transform: rotate(79deg);
    width: 90%;
}
img.extra-decoration-image-left-side-three {
    position: absolute;
    bottom: -353px;
    z-index: -1;
    right: -59%;
    transform: rotate(199deg);
}
img.extra-decoration-image-left-side-four {
    position: absolute;
    bottom: -554px;
    z-index: -1;
    width: 76%;
}
h5.text-center.company-trusted {
    color: var(--bs-navbar-color);
    font-weight: bold;
}
img.feature-image-two {
    margin-left: 18%;
    margin-top: -5%;
    margin-bottom: -7%;
}
img.feature-image-three {
    margin-left: -7%;
}
.heading-text-theme {
    font-size: 40px;
}
/* .feature-content-home:before {
    content: "";
    width: 0.1%;
    height: 100%;
    background: var(--navbar-brand-color);
    left: 47%;
    position: absolute;
    z-index: 0;
} */
.row.feature-content-home .col-lg-6 {
    margin-top: 40px;
    margin-bottom: 30px;
}
/* .feature-content-home:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1%;
    background: var(--white-color);
    top: 48%;
} */
.background-feature {
    width: 80%;
    height: 120%;
    position: absolute;
    top: -18%;
    left: 10%;
    z-index: -1;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    background: rgb(255 255 255 / 10%);
}
.step-1 {
    padding: 30px 10px 15px;
    border-right: 1px solid var(--white-color);
}
.step-4 {
    padding: 30px 10px 15px;
}
.step-create-bcard {
    border-top: 1px solid var(--primary-color);
}
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}
.counter {
    font-size: 60px;
    margin-top: 10px;
}
span.sub-heading-home {
    font-size: 24px;
    margin-left: 20px;
}
ul.list-price li {
    line-height: 40px;
}
a.footer-bt {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
a.footer-bt button.btn-hp-style.text-white {
    padding: 15px 40px;
    font-size: 28px;
}
.menu-footer ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a.social_icon_hp i {
    font-size: 24px;
    color: white;
}
a.social_icon_hp {
    width: 40px;
    background: #848484;
    display: inline-flex;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.footer-second-section .row.d-flex.align-items-center {
    margin: 50px 0 20px;
}
.menu-footer.credit-fotr ul {
    display: flex;
    justify-content: flex-end;
}
.menu-footer.credit-fotr li {
    margin-left: 40px;
}
.footer-credit {
    margin-top: 50px;
    border-top: 1px solid var(--primary-color);
    padding-top: 50px;
}
.background-footer {
    width: 80%;
    height: 120%;
    position: absolute;
    top: -18%;
    left: 10%;
    z-index: -1;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    background: rgb(255 255 255 / 10%);
}
.header-title {
    background: white;
    padding: 20px;
    font-weight: 600;
}
/* edit user */
.input-field-hp {
    background: white;
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #8080801c;
    box-shadow: 2px 2px 10px #80808021;
    border-radius: 10px;
    margin: 10px 00;
}

.image-theme {
    margin: auto;
    border-radius: 5px;
    cursor: n-resize;
    width: 100%;
    margin: 10px;
}
.image-theme img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 270px;
    transition: 8s all ease;
    border-radius: 20px;
}
.image-theme img:hover {
    object-position: bottom;
}